<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StopWatchApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5433C7D31EECC25D00434B1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5433C7E71EECC25E00434B1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5433C7F21EECC25E00434B1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
